body {
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(26, 26, 26);  
    min-height: 100px;
    padding: 0 2rem;
    position: relative;
}

/* headshot styles*/
.logo {
    width: 5rem;
    border-radius: 50%;
    outline: 2px solid rgb(201, 201, 201);
    height: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    z-index: 2;
    flex-shrink: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 2;
    margin: 0; 
    flex-shrink: 0; 
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    z-index: 1;
    max-width: calc(100% - 400px);
}

h2 {
    font-weight: 300;
    color: rgb(255, 255, 255);
}

h3 {
    margin: 0;
    display: flex;
    flex-direction: row;
}

/* Link styles */
h3 a {
    color: #664ba6; 
    text-decoration: none;
}

h3 a:hover {
    color: #b835c6;
    text-decoration: underline;
    transition: color 0.2s ease;
}

/* Project styles */
.projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}
 
.project {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 1rem;
    width: 500px;
    height: 380px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* project tools */
.tools {
    margin-left: auto;
    font-size: 0.65rem;
    font-weight: 500;
    color: #666;
    display: flex;
}

/* project picture */
.thumbnail {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-top: auto;
}

/* medium screens */
@media (max-width: 900px) {
    .header { 
        justify-content: left;
        min-height: 80px;
    }

    .logo {
        width: 3.5rem;
        height: 3.5rem;
        margin: 0 0.5rem;
    }

    h1 {
        font-size: 1.2rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
}

/* small screens */
@media (max-width: 500px) {
    .header {
        padding-bottom: 0.3rem;  
        justify-content: center;
    }
    
    .logo {
        width: 3.5rem;
        height: 3.5rem;
        margin: 1rem 0.5rem 0.5rem;
    }
    
    h1 {
        flex-basis: 100%;
        text-align: center;
    }
    
    .title {
        text-align: center;
        position: relative;  
        left: auto;          
        transform: none;     
        width: 100%;         
        margin-top: 0;  
        order: 3;
        flex-basis: 100%;    
        max-width: 100%;     
    }
    
    h2 {
        font-size: 1.2rem;
    }
}